body {
    background-color: #e29f9f;
    border: 5px solid #71392c; 
    margin: 20px;
    padding: 20px;
    font-family: "Poppins", sans-serif; 
}

h1 {
    color: #d70831;
    background-color: #71392c;
    padding: 1.5rem;
    text-transform: uppercase;
    text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 50px;
      
  }

p {
    margin: 1.5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    line-height: 1.5rem;
      }



    h2 {
        color: #d70831;
        margin: 1.5rem;
            font-family: "Montserrat", sans-serif;
            font-weight:  400;;
            font-style: normal;
    
    }
    


hr {
    border: 1.5px solid rgb(158, 6, 6);
}


img { 
border: 2px #d70831 solid;
margin: .65rem;
max-width: 100%;
height: auto;
} 

a:link {
    color: rgba(220, 16, 60, 0.907);
    text-decoration: none;
}

a:visited {
    color: rgb(92, 0, 92);
}

a:hover {
    color: rgb(182, 10, 105);
    text-decoration: underline;
}

a:active {
    color: rgb(67, 1, 19);


} 