h2 {
    text-align:center;
    background-color: aliceblue;
    padding:12px;
    margin:0px;
}

nav li {
    list-style-type: none;
    background-color: black;
    margin: 1rem;
}

nav a {
    text-decoration: none;
    color:lightgray;
    padding: 25px;
}

nav a:hover {
    color: palegoldenrod;
    background-color: black;
}

nav ul {
    display:flex;
    justify-content: center;
    background-color: black;
    padding:25px;
    margin:0;
    flex-wrap: wrap;
}

footer {
    background-color: black;
    justify-content: center;
    color: white;
    text-align: center;
    margin: 0;
    padding: 25px;
    left:0;
    bottom:0;
    width:100%;
    position: fixed;
    
    

}

h1 {
    color: navy;
    font-family:Georgia, 'Times New Roman', Times, serif  ;
}




